<% content_for :content_header  do %>
  <section class="content-header">
    <h1> <small>Vasco Panel</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Principal</a></li>
      
    </ol>    
  </section>
<% end %>
  <center>  <h1>Principal</h1>
<p>Bienvenido a Vasco Panel.</p></center> 


