<% content_for :content_header  do %>
  <section class="content-header">
    <h1>Listando <small>Productos</small></h1>

    <ol class="breadcrumb">
      <li><a href="/"><i class="fa fa-dashboard"></i> Principal</a></li>
      <li class="active">Productos</li>
    </ol>    
  </section>
<% end %>
<h1>Producto agregado...</h1>

            <%= link_to carros_path, :target => "_blank", :class => 'btn btn-success' do %>
              <span class="glyphicon glyphicon-ok"></span>
              Ir al Carro
            <% end %>          
   