<% content_for :content_header  do %>
  <section class="content-header">
    <h1>
      Editando <small><%= link_to "Vendedores", vendedors_path %></small>

      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><%= link_to "Vendedores", vendedors_path %></li>
        <li class="active">Editar</li>
      </ol>
    </h1>
  </section>
<% end %>

<%= render 'form' %>
