<header class="header">
  <a href="#" class="logo">
    <!-- Add the class icon to your logo image or logo icon to add the margining -->
    Pastelería Vasco
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  
  </nav>
</header>